{{ define "main" }}

<header class="header-module full-width">
  <!-- Centered Header module-->
  <div class="hero-left-aligned job-description-header">
    <div>
      <a href="/hiring/" class="link-reset">
        <span class="material-icons">
          arrow_back
        </span>
        See all available positions</a>
    </div>
    <h1>{{.Params.title}}</h1>
  </div>
</header>
<div class="full-width article-layout">
  {{/*  The side bar navigation module  */}}
  <aside class="article-layout__aside">
    <div class="sticky">
      <h2 class="h4">Interested?</h2>
      <div class="content-block--related">

        {{with ($.Site.GetPage "/hiring") }}
        <p>{{ .Params.cta_blurb  }}</p>
        {{/*  render the hiring apply button  */}}
        {{/*  conditionally rendering the application link if thats not nil*/}}
        {{ if .Params.application_link }}
        <a href='{{($.Site.GetPage "/hiring").Params.application_link}}' target="blank"
          class="button-primary button--stretch">
          Apply Now
        </a>
        {{ else }}
        <a href='{{.Permalink}}#' class="button-primary button-primary--disabled button--stretch">
          Apply Now
        </a>
        <p class="foot-notes">{{.Params.noLinkHelperText}}</p>
        {{ end }}

        {{end}}
      </div>
    </div>
  </aside>

  {{/*  The center main content */}}
  <main class="article-layout__main job-description-main">
    <section class="content-block content-block--related article-body-wrapper">
      {{/*  <h1 class="header-article h1--responsive">{{.Params.title}}</h1> */}}
      <div class="article-body">
        <p class="lead">{{.Params.lead}}</p>
        {{.Content}}
      </div>
    </section>
  </main>

  <div class="hiring-cta-mobile">
    <div class="hiring-cta-mobile__content">{{ ($.Site.GetPage "/hiring").Params.cta_blurb }}</div>
    {{ if .Params.application_link }}
    <a href='{{($.Site.GetPage "/hiring").Params.application_link}}' target="blank"
      class="button-primary button--stretch">
      Apply Now
    </a>
    {{ else }}
    <a href='{{.Permalink}}#' class="button-primary button-primary--disabled button--stretch">
      Apply Now
    </a>
    <p class="foot-notes">{{.Params.noLinkHelperText}}</p>
    {{end}}
  </div>
</div>

{{ partial "get-package-cta-hiring.html" . }}
{{ end }}