{{ define "main" }}

<header class="header-module full-width">
  <!-- Centered Header module-->
  <div class="hero-left-aligned job-description-header">
    <div>
      <a href="/hiring/" class="link-reset">
        <span class="material-icons">
          arrow_back
        </span>
        See all available positions</a>
    </div>
    <h1>{{.Params.title}}</h1>
  </div>
</header>
<div class="full-width article-layout">
  {{/* The side bar navigation module */}}
  <aside class="article-layout__aside">
    <div class="sticky">
      <h2 class="h4">Interested?</h2>
      <div class="content-block--related">
        {{if eq .Params.application_link nil }}
        {{with ($.Site.GetPage "/hiring") }}
        {{ partial "hiring-apply-button" . }}
        {{end}}
        {{else}}
        {{ partial "hiring-apply-button" . }}
        {{end}}
      </div>
    </div>
  </aside>

  {{/* The center main content */}}
  <main class="article-layout__main job-description-main">
    <section class="content-block content-block--related article-body-wrapper">
      {{/* <h1 class="header-article h1--responsive">{{.Params.title}}</h1> */}}
      <div class="article-body">
        <p class="lead">{{.Params.lead}}</p>
        {{.Content}}
      </div>
    </section>
  </main>

  <div class="hiring-cta-mobile">
    {{if eq .Params.application_link nil }}
    {{with ($.Site.GetPage "/hiring") }}
    {{ partial "hiring-apply-button-mobile" . }}
    {{end}}
    {{else}}
    {{ partial "hiring-apply-button-mobile" . }}
    {{end}}
  </div>
</div>

{{ partial "get-package-cta-hiring.html" . }}
{{ end }}