<section id="contact" class="full-width--article">
  <div class="center-text">
    <h2>Questions?</h2>
  </div>
  <div class="card-layout-container">
    <div class="card-layout-item card">
      <h3 class="h4 h4--accented">Email</h3>
      <p>Our Sponsorship team would love to answer your questions, please reach us through the following email.
      </p>
      <div class="copyable-field">
        <span class="copyable-field__copyText">caseit@sfu.ca</span>
        <button class="copyable-field__button">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>
</section>