{{/*  get the info package  */}}
{{$PDFResourceEntry := where .Site.Data.downloadableResources.documents "name" "sponsorship-package" }}
{{/*  get the pdf url  */}}
{{$url := (index $PDFResourceEntry 0).URL }}
{{$title := (index $PDFResourceEntry 0).descriptionTitle }}
{{$blurb := (index $PDFResourceEntry 0).descriptionBlurb }}
{{$image := (index $PDFResourceEntry 0).image }}

<section class="endingCtaBlock endingCtaBlock content-block grid-2-cols full-width" data-aos="fade-up">
  <div class="grid-2-cols__image-left">
    <img class="image--bleed-left endingCtaImage" src="{{$image}}" />
  </div>
  <div class="grid-2-cols__blurb-right blurb--valign-center endingCtaBlurb">
    <div class="overline">Sponsorship Package</div>

    <h2>{{$title}}</h2>
    <p>
      {{$blurb}}
    </p>
    <form name="sponsorship-package-request" netlify class="form form-width-stretch">
      <div class="field form-width-stretch">
        <label for="txtEmail">Email</label>
        <input id="txtEmail" name="txtEmail" placeholder="example@gmail.com" type="email" class="--dark" />
        <span class="field__assist">*Required</span>
      </div>
      <div class="form-control">
        <button class="button-primary button-primary--inverted" target="blank" href="{{$url}}">Request Package</button>
      </div>
    </form>

    {{/*  code for straight download PDF */}}
    {{/*  <div class="form-controls">
      <a class="button-primary button-primary--inverted" target="blank" href="{{$url}}">Download PDF Package</a>
  </div> */}}
  </div>
</section>