<div class="fixed-wrapper">
  <nav>
    <!-- prevent it going off in this styleguide page-->
    <div class="full-width nav-bar">

      <a href="/" class="nav-bar__logo-link">
        <img src="img/logo/CaseIT_Black.svg" alt="CaseIt Logo" />
      </a>



      <div class="nav-bar__link-container">
        <ul class="nav-link-list">
          <li>
            <a href="#" class="nav-link-list__link">Competition</a>
          </li>
          <li>
            <a href="#" class="nav-link-list__link">Sponsorship</a>
          </li>
          <li>
            <a href="#" class="nav-link-list__link">About</a>
          </li>
          <li>
            <a href="#" class="nav-link-list__link inactive" title="under construction!">Blog</a>
          </li>
        </ul>

        <a href="#" class="contact-button">
          <span class="material-icons">
            contact_support
          </span>
          Contact Us
        </a>
      </div>

      <a class="hamburger-menu-toggle" href="#">
        <div></div>
        <div></div>
        <div></div>
      </a>
    </div>
  </nav>
</div>