<div>
  <!-- grid preview -->
  <div class="photo-grid caption">
    <!-- Row 1 -->
    <div class="span-col4 span-row3"></div>
    <div class="span-col5 span-row3"></div>
    <div class="span-col3 span-row2"></div>
    <div class="span-col3 span-row2"></div>

    <!--  Row 2-->
    <div class="span-col span-row2 blank">BLANK SPACE</div>
    <div class="span-col2 span-row2"></div>
    <div class="span-col4 span-row3"></div>
    <div class="span-col2 span-row4"></div>
    <div class="span-col3 span-row3 blank">BLANK SPACE</div>

    <!-- Row 3-->
    <div class="span-col4 span-row2 blank">BLANK SPACE</div>
    <div class="span-col3 span-row2"></div>
    <!-- Row (3.5)-->
    <div class="span-col5 span-row4"></div>

    <!-- Row 4 -->
    <div class="span-col1 span-row3 blank">BLANK SPACE</div>
    <div class="span-col4 span-row3"></div>
    <div class="span-col2 span-row4"></div>

    <!-- Row 5 -->
    <div class="span-col2 span-row3 blank">BLANK SPACE</div>
    <div class="span-col3 span-row4"></div>
    <div class="span-col4 span-row3"></div>
    <div class="span-col1 span-row3 blank">BLANK SPACE</div>

    <!-- Row(5.5) -->
    <div class="span-col2 span-row2 fading-close"></div>

    <!-- Row 6-->
    <div class="span-col2 span-row2 fading-close"></div>
    <div class="span-col2 span-row2 fading-far"></div>
    <!-- to be shrink-->
    <div class="span-col3 span-row2"></div>
    <div class="span-col2 span-row2 fading-close"></div>
    <!-- to be shrink-->

    <!-- Row 6.5-->
    <div class="span-col1 span-row2 blank">BLANK SPACE</div>
    <div class="span-col2 span-row2 fading-close"></div>

    <!-- Row 7-->
    <div class="span-col2 span-row1 fading-far"></div>
    <div class="span-col3 span-row3"></div>
    <!-- to be shrink -->
    <div class="span-col3 span-row2 fading-close"></div>
    <!-- to be shrink -->
    <div class="span-col1 span-row2 blank">BLANK SPACE</div>

    <!-- Row 8-->
    <div class="span-col1 span-row2 blank">BLANK SPACE</div>
    <div class="span-col3 span-row2 fading-close"></div>
    <!-- to be shrink -->
    <div class="span-col3 span-row2 fading-far"></div>
    <!-- to be shrink -->
    <div class="span-col3 span-row2 fading-far fading-top-right"></div>
    <!-- to be shrink -->
    <div class="span-col2 span-row3 fading-close"></div>
    <!-- to be shrink -->
    <div class="span-col3 span-row2 fading-close"></div>
    <!-- to be shrink -->
    <div class="span-col2 span-row3 fading-close"></div>
    <!-- to be shrink -->
    <div class="span-col2 span-row2 fading-far fading-top-left"></div>
    <!-- to be shrink -->
  </div>
</div>