<div class="photo-grid caption">
  <!-- Row 1, Not auto loading the firt row-->
  <img class="span-col4 span-row3 photo-grid__img" src="img/photo-grid/DSC03567.jpg" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col5 span-row3 photo-grid__img" src="img/photo-grid/DSC03828.jpg" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/DSC03652.jpg" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/DSC03615.jpg" data-aos="fade-up"
    data-aos-offset="200" />

  <!--  Row 2-->
  <div class="span-col span-row2 blank">BLANK SPACE</div>
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/DSC03633.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col4 span-row3 photo-grid__img" src="img/photo-grid/DSC03325.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col2 span-row4 photo-grid__img" src="img/photo-grid/DSC_0404.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <div class="span-col3 span-row3 blank">BLANK SPACE</div>

  <!-- Row 3-->
  <div class="span-col4 span-row2 blank">BLANK SPACE</div>
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/DSC03453.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <!-- Row (3.5)-->
  <img class="span-col5 span-row4 photo-grid__img" src="img/photo-grid/DSC04252.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />

  <!-- Row 4 -->
  <div class="span-col1 span-row3 blank">BLANK SPACE</div>
  <img class="span-col4 span-row3 photo-grid__img" src="img/photo-grid/DSC_0144.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col2 span-row4 photo-grid__img" src="img/photo-grid/DSC03365.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />

  <!-- Row 5 -->
  <div class="span-col2 span-row3 blank">BLANK SPACE</div>
  <img class="span-col3 span-row4 photo-grid__img" src="img/photo-grid/DSC03602.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <img class="span-col4 span-row3 photo-grid__img" src="img/photo-grid/DSC_0398.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <div class="span-col1 span-row3 blank">BLANK SPACE</div>

  <!-- Row(5.5) -->
  <!-- to be shrink-->
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC_0242.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />

  <!-- Row 6-->

  <!-- to be shrink-->
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC_0420.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink-->
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC_0438.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />

  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/DSC03332.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <!-- to be shrink-->
  <img class="span-col2 span-row2" src="img/photo-grid/faded/DSC_0458.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />

  <!-- Row 6.5-->
  <div class="span-col1 span-row2 blank">BLANK SPACE</div>
  <!-- to be shrink -->
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC04613.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />

  <!-- Row 7-->
  <!-- to be shrink -->
  <img class="span-col2 span-row1 photo-grid__img" src="img/photo-grid/faded/DSC04240.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />
  <img class="span-col3 span-row3 photo-grid__img" src="img/photo-grid/DSC04210.jpg" loading="auto" data-aos="fade-up"
    data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC03768.jpg" loading="auto"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <div class="span-col1 span-row2 blank">BLANK SPACE</div>

  <!-- Row 8-->
  <div class="span-col1 span-row2 blank">BLANK SPACE</div>
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC03891.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC03894.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC03903.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col2 span-row3 photo-grid__img" src="img/photo-grid/faded/DSC03915.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col3 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC03937.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col2 span-row3 photo-grid__img" src="img/photo-grid/faded/DSC04218.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
  <img class="span-col2 span-row2 photo-grid__img" src="img/photo-grid/faded/DSC04240.jpg" loading="lazy"
    data-aos="fade-up" data-aos-offset="200" />
  <!-- to be shrink -->
</div>