{{ define "main" }}

<header class="header-module full-width">
  {{/*  <nav class="section-nav">
    <a href="/competition/" class="section-nav__header">Competition 2021</a>
    <div class="section-nav__tab-container">
      <a href="/competition/" class="section-nav__tab">Overview</a>
      <a href="/competition/information/" class="section-nav__tab section-nav__tab--current">Information</a>
      <a href="/competition/registration/" class="section-nav__tab">Registration</a>
    </div>
  </nav>  */}}
  {{ partial "nav-section.html" (dict "Page" . "menu" .Site.Menus.competition ) }}

  <!-- Centered Header module-->
  <div class="hero-left-aligned">
    <h1 class="display">{{.Params.title}}</h1>
    <p class="lead">{{.Params.description}}</p>
    {{/*  <div class="form-controls">
      <a href="#" class="button-primary">Download Information Package (PDF)</a>
    </div>  */}}
  </div>
  <div class="card-layout-container card-layout-container--dynamic">
    {{ range .Pages }}
    <a href="{{.Permalink}}" class="image-card">
      <img src="{{.Params.image}}" alt="placeholder">
      <div class="image-card__content">
        <h4>{{.Title}}</h4>
        <p>{{.Params.description}}</p>
      </div>
    </a>
    {{ end }}
</header>

<!-- get notified section-->
<section id="get-notified-section">
  <div class="full-width">
    <div class="center-text" data-aos="fade-up">
      <h2>Information Release Timeline</h2>
      <p>More Information on the way!</p>
    </div>
    <div class="grid-2-cols content-block" data-aos="fade-up">
      <div class="grid-2-cols__image-left">
        <div class="timeline-container">
          {{ range $index, $e := .Params.important_dates }}
          {{ $len := len $.Params.important_dates }}
          {{ $len := sub $len 1 }}

          {{/*  case for active items  */}}
          {{ if eq .active true }}
          <div class="timeline-item">
            <div class="timeline-anchor timeline-anchor--active">
            </div>
            {{ if not (eq $index $len) }}
            <div class="timeline-connector"></div>
            {{ end }}
            <div class="timeline-description timeline-description--active">
              <div class="h4">{{.heading}}</div>
              <p>
                {{.text}}
              </p>
            </div>

          </div>
          {{/*  print the timeline connector if this is NOT the last item on the list  */}}
          {{ else }}
          {{/*  case for inactive items  */}}
          <div class="timeline-item">
            <div class="timeline-anchor"></div>
            {{/*  print the timeline connector if this is NOT the last item on the list  */}}
            {{ if not (eq $index $len) }}
            <div class="timeline-connector"></div>
            {{ end }}
            <div class="timeline-description">
              <div class="h4">{{.heading}}</div>
              <p>
                {{.text}}
              </p>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="grid-2-cols__blurb-right">
        <h3>{{.Params.email_subscription.heading}}</h3>
        <p>
          {{.Params.email_subscription.text}}
        </p>

        <form name="email-subscription" class="form" netlify>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Exmaple@gmail.com" type="text" />
            <span class="field__assist">*Required</span>
          </div>
          <div class="form-controls">
            <button class="button-primary" type="submit">{{.Params.email_subscription.ctaText}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


{{ partial "get-package-cta-university.html" . }}

</section>
{{ end }}