{{ define "main" }}
<header class="header-module full-width">
  {{ partial "nav-section.html" (dict "Page" . "menu" .Site.Menus.competition ) }}
</header>

<div class="full-width article-layout">
  {{/*  The side bar navigation module  */}}
  <aside class="article-layout__aside">
    <div class="sticky">
      <h2 class="h4">Information</h2>
      {{ partial "nav-section-article.html" (dict "Page" . "menu" .Site.Menus.competition ) }}
      <div class="content-block--related">
        {{/*  get the info package  */}}
        {{$PDFResourceEntry := where .Site.Data.downloadableResources.documents "name" "competition-info-package" }}
        {{/*  get the pdf url  */}}
        {{$PDFUrl := (index $PDFResourceEntry 0).URL }}
        <a href="{{$PDFUrl}}" class="button-secondary button--stretch">Download Full PDF</a>
        <p class="foot-notes">For detailed information, please reference the PDF competition information package</p>
      </div>
    </div>
  </aside>

  {{/*  The center main content */}}
  <main class="article-layout__main">
    <h1 class="header-article h1--responsive">{{.Params.title}}</h1>
    <img class="" src="{{.Params.image}}" alt="this year's chair">
    <section class="content-block content-block--related article-body-wrapper">
      <div class="article-body">
        <p class="lead">{{.Params.lead}}</p>
        {{.Content}}
      </div>
    </section>
  </main>
</div>

{{/*  The "up next" section */}}
{{ partial "up-next-section.html" . }}

{{ end }}