{{ define "main" }}
<header class="header-module full-width">
  {{ partial "nav-section.html" (dict "Page" . "menu" .Site.Menus.competition ) }}
</header>

<div class="full-width article-layout">
  <aside class="article-layout__aside">
    <div class="sticky">
      <h2 class="h4">Information</h2>
      {{ partial "nav-section-article.html" (dict "Page" . "menu" .Site.Menus.competition ) }}
      <div class="content-block--related">
        <a href="#" class="button-secondary button--stretch">Download PDF</a>
        <p class="foot-notes">For detailed information, please reference the pdf package</p>
      </div>
    </div>
  </aside>

  <main class="article-layout__main">
    <h1 class="header-article h1--responsive">{{.Params.title}}</h1>
    <img class="" src="{{.Params.image}}" alt="this year's chair">
    <section class="content-block content-block--related article-body-wrapper">
      <div class="article-body">
        <p class="lead">{{.Params.lead}}</p>
        {{.Content}}
      </div>
    </section>
  </main>
</div>
<div id="up-next" class="grid-2-cols full-width content-block">

  <div class="grid-2-cols__heading">
    <h2 class="h2--responsive">Up Next</h2>
  </div>

  <div class="grid-2-cols__content-area">
    <div class="card-layout-container">
      {{ partial "up-next-section.html" . }}
    </div>
  </div>
</div>
{{ end }}