.button-primary,
.button-secondary {
  text-decoration: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  font-family: var(--typeface-interactive);
  font-size: var(--type-size-button);

  letter-spacing: var(--type-tracking-button);
  font-weight: bold;
  text-transform: uppercase;

  border: 2px solid transparent;
  border-radius: 0.25em;

  transition-property: box-shadow, background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* handling the color */
.button-primary {
  background-color: var(--color-primary-darkest);
  color: var(--color-primary-lightest);
  box-shadow: 0 0.2em 0.4em rgba(54, 54, 54, 0);
}

.button-primary:active,
.button-secondary:active {
  /* transform: scale(0.95); */
  background-color: var(--color-primary-dark);
}

/* for button tag pointer fix */
.button-primary:hover,
.button-secondary:hover {
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  /* css box shadow https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  /* drop shadow vs box shadow https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/ */
  box-shadow: 0 0.2em 0.4em rgba(54, 54, 54, 0.5);
  outline: none;
}

.button-secondary {
  color: var(--color-primary-darkest);
  border-color: var(--color-primary-darkest);
  background-color: rgba(0, 0, 0, 0);
}

.button-secondary:active {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  background-color: rgba(0, 0, 0, 0.05);
}

.button-secondary:focus {
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
}