@import "_variables.scss";

.bg-primary-darker {
  background-color: var(--color-primary-darker);
  color: var(--color-primary-lightest);
}

.bg-primary-darkest {
  background-color: var(--color-primary-darkest);
  color: var(--color-primary-lightest);
}

.bg-red {
  background-color: var(--color-primary-darkest);
  color: var(--color-primary-lightest);
}

.backdrop-dark {
  background-color: var(--color-primary-darker);
  color: var(--color-primary-lightest);
}
