/* 
 *
 * Content
 * 
 *  - Color
 *  - Fonts
 *  - screen sizes
 *
 */

$useRoundedCorner:false;

:root {

  /* 
    Colours
  */

  /* Reference - https://fixate.it/blog/make-your-css-variable-names-suck-less */

  /* clr = colour */
  --color-accent-lighter: #FF7676;
  --color-accent: #C43434;
  --color-accent-darker: #81222E;
  --color-accent-darkest: #81222E;

  --color-primary-lightest: #FFFFFF;
  --color-primary-lighter: #EEE;
  --color-primary-light: #8b8b8b;
  --color-primary-dark: #393636;
  --color-primary-darker: #252222;
  --color-primary-darkest: #000000;

  /* ff = font family */
  --typeface-body: "Roboto";
  --typeface-interactive: "DINPro";
  --typeface-header: "DINPro";
  --typeface-caption: "Roboto Mono";

  /* 
   * ====================
   * Font paramaters 
   * ====================
   */

  /* SIZE */
  --type-size-display: 6rem;
  --type-size-h1: 4rem;
  --type-size-h2: 3rem;
  --type-size-h3: 2.125rem;
  --type-size-h4: 1.25rem;
  --type-size-lead: 1.5rem;
  --type-size-body: 16px;
  --type-size-body-small: 0.875rem;
  --type-size-button: 0.875rem;
  --type-size-caption: .75rem;

  /* TRACKING - relateive to font size */
  --type-tracking-display: -.05em;
  --type-tracking-h1: -.02em;
  --type-tracking-h2: .02em;
  --type-tracking-h3: .02em;
  --type-tracking-h4: .05em;
  --type-tracking-lead: -.025em;
  --type-tracking-body: .02em;
  --type-tracking-body-small: .02em;
  --type-tracking-button: .08em;

  /* LEADING - relative to font size */
  --type-leading-display: 1em;
  --type-leading-h1: 1em;
  --type-leading-h2: 1em;
  --type-leading-h3: 1em;
  --type-leading-h4: 1em;
  --type-leading-lead: 34px;
  --type-leading-body: 24px;
  --type-leading-body-small: 20px;

  /* 
   *
   * BASELINE GRID/SPACING
   *
   */

  /* 
   *
   * Break points
   * 
   */
}