<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}

<body>

  <!-- Nav and footer is disabled for now before fitting in the caseit content to the template. -->
  <!--  Muted the navigation header for now -->
  <!-- {{ block "header" . }} -->

  {{ partial "nav" . }}{{end}}

  {{ block "main" . }}{{ end }}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>