{{ define "main" }}
<header class="header-module full-width">
  {{/*  {{ partial "breadcrumbs.html" . }} */}}

  {{ if and (isset .Params "image") (ne .Params.image "")  }}
  <h1>{{.Params.title}}</h1>
  {{ else}}
  <div class="hero-left-aligned">
    <h1>{{.Params.title}}</h1>
  </div>
  {{end}}

</header>

<main>
  {{/*  Print a different layout if we have the image  */}}
  {{ if and (isset .Params "image") (ne .Params.image "")  }}
  <img class="banner-image full-width" src="{{.Params.image}}" alt="this year's chair">
  <section class="content-block content-block--related grid-2-cols full-width">
    <div class="grid-2-cols__content-area">
      <p class="lead">{{.Params.lead}}</p>
      {{.Content}}
    </div>
  </section>
  {{else}}
  <section class="content-block content-block--related full-width">
    <p class="lead">{{.Params.lead}}</p>
    {{.Content}}
  </section>
  {{end}}
</main>
{{ end }}