{{ define "main" }}
<header class="header-module full-width">
  <!-- {{ partial "breadcrumbs.html" . }} -->
  <h1>{{.Params.title}}</h1>
  <p class="lead">{{.Params.intro_blurb}}</p>
</header>

<main>
  {{/*  <img class="banner-image full-width" src="{{.Params.image}}" alt="this year's chair"> */}}

  {{/*  {{ range .Params.team }}
  {{ range .team_member }}
  {{.name}}
  {{.position}}
  {{ end }}
  {{ end }} */}}

  <section id="committee" class="content-block full-width">
    {{range .Params.team}}
    <h2 class="h3 h3--accented">Competition Execution</h2>
    <div class="team-display-container">
      {{ range .team_member }}
      <div class="team-display-item">
        <h3 class="team-display-item__name h4 h4--accented">{{.name}}</h3>
        <div class="team-display-item__position">{{.position}}</div>
        <img src="{{.image}}" alt="Portrait of {{.team_member}}">
      </div>
      {{ end }}
    </div>
    {{end}}
  </section>


  <section id="up-next" class="content-block grid-2-cols full-width">

    <div class="grid-2-cols__heading">
      <h2 class="h2--accented">Up Next</h2>
    </div>

    <div class="grid-2-cols__content-area">
      <div class="card-layout-container">
        {{/*  When there is "next page" in the section  */}}
        {{ if .NextInSection }}
        {{ with .NextInSection }}
        <a href="{{.Permalink}}" class="image-card">
          <div class="image-card__content">
            <h2 class="h4">{{.Title}}</h2>
            <p>{{.Description}}</p>
          </div>
          <img src="{{.Params.image}}" alt="Go to {{.Title}}">
        </a>
        {{ end }}
        {{/*  When this is the last page  */}}
        {{else}}
        {{ with .Site.GetPage "/about/organizing-committee.md"}}
        <a href="{{.Permalink}}" class="image-card">
          <div class="image-card__content">
            <h2 class="h4">{{.Title}}</h2>
            <p>{{.Description}}</p>
          </div>
          <img src="{{.Params.image}}" alt="Go to {{.Title}}">
        </a>
        {{ end }}
        {{end}}

      </div>
    </div>
  </section>
</main>

{{ end }}