{{ define "main" }}

<div class="backdrop-dark">
  <header class="header-module full-width">
    {{ partial "nav-section.html" (dict "Page" . "darkmode" "true" "menu" .Site.Menus.competition) }}
  </header>

  <section class="comp-hype-intro full-width">
    <div>
      <h1>Are you Ready for It</h1>
      <span class="material-icons cta-arrow">
        arrow_downward
      </span>
    </div>
  </section>
  <!--Number text hype section begins-->
  <section id="competition-hype">
    <div class="comp-hype-section">
      <div class="number-display">
        <div class="number-display__text">Driven Competitors</div>
        <div class="number-display__number">64</div>
      </div>
      <div class="number-display">
        <div class="number-display__text">International Teams</div>
        <div class="number-display__number">16</div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="number-2-cols">
        <div class="number-display">
          <div class="number-display__text">Intensive Days</div>
          <div class="number-display__number">6</div>
        </div>
        <div class="number-display">
          <div class="number-display__text">Challenging Cases</div>
          <div class="number-display__number">2</div>
        </div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="number-display">
        <div class="number-display__text">Competition</div>
        <div class="number-display__number">1</div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="comp-hype-title">Same fierce Competition.</div>
    </div>
  </section>
</div>
<section id="promo-video">
  <button id="btnUnmute" class="button-primary button-primary--inverted">
    <span class="material-icons">
      volume_off
    </span></button>
  <video muted loop>
    <source src="https://www.sfu.ca/~kkl64/caseit-video-2021/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <script>
    var vid = document.querySelector("video");
    var btnUnmute = document.querySelector("#btnUnmute");
    vid.onclick = toggleMute;
    btnUnmute.onclick = toggleMute;

    function toggleMute() {
      vid.muted = !vid.muted;
      btnUnmute.innerHTML = (vid.muted) ? '<span class="material-icons">volume_off</span >' : '<span class="material-icons">volume_up</span >';
    }

    var autoplayObserver = new IntersectionObserver(function (entries, observer) {
      if (entries[0].isIntersecting) {
        // auto play the vid when it get into the viewport
        vid.play();
      } else {
        vid.pause();
      }
    }, {
      threshold: .3
    });
    autoplayObserver.observe(vid);
  </script>
</section>
<section id="learn-more" class="full-width grid-2-cols">
  <div class="grid-2-cols__blurb-left">
    <h2>Learn More</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et donec in turpis ornare risus amet purus risus, proin.
      Information Package is also available
    </p>
    <div class="form-controls">
      <a href="/competition/information/" class="button-primary">See Competition Information</a>
    </div>
  </div>
  <div class="grid-2-cols__blurb-right">
    <div class="card-layout-container--list">
      <a href="#" class="card-clickable">Event Information 1</a>
      <a href="#" class="card-clickable">Event Information 2</a>
      <a href="#" class="card-clickable">Event Information 3</a>
    </div>
  </div>
</section>

<section class="endingCtaBlock endingCtaBlock--light content-block grid-2-cols full-width" data-aos="fade-up">
  <div class="grid-2-cols__image-left">
    <img class="image--bleed-left endingCtaImage" src="img/information-package-high-res.jpg" />
  </div>
  <div class="grid-2-cols__blurb-right blurb--valign-center endingCtaBlurb">
    <div class="overline">Get Full PDF</div>
    <h2>Get Information Package Now</h2>
    <p>
      Interested in joining? We got you covered Take this free PDF home.
    </p>
    <div class="form-controls">
      <a class="button-primary">Download Information Package (pdf)</a>
    </div>
  </div>
</section>
{{ end }}