{{ define "main" }}

<div class="backdrop-dark">
  <header class="header-module full-width">
    {{ partial "nav-section.html" (dict "Page" . "darkmode" "true" "menu" .Site.Menus.competition) }}
  </header>

  <section class="comp-hype-intro full-width">
    <div>
      <h1 class="display">{{.Params.title}}</h1>
      <p class="lead">{{.Params.subtitle}}</p>
      <span class="material-icons cta-arrow">
        arrow_downward
      </span>
    </div>
  </section>
  <!--Number text hype section begins-->
  <section id="competition-hype">
    <div class="comp-hype-section">
      <div class="number-display">
        <div class="number-display__text">Driven Competitors</div>
        <div class="number-display__number">64</div>
      </div>
      <div class="number-display">
        <div class="number-display__text">International Teams</div>
        <div class="number-display__number">16</div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="number-2-cols">
        <div class="number-display">
          <div class="number-display__text">Intensive Days</div>
          <div class="number-display__number">6</div>
        </div>
        <div class="number-display">
          <div class="number-display__text">Challenging Cases</div>
          <div class="number-display__number">2</div>
        </div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="number-display">
        <div class="number-display__text">Competition</div>
        <div class="number-display__number">1</div>
      </div>
    </div>
    <div class="comp-hype-section">
      <div class="comp-hype-title">Same fierce Competition.</div>
    </div>
  </section>
</div>
<section id="promo-video">
  <button id="btnUnmute" class="button-primary button-primary--inverted">
    <span class="material-icons">
      volume_off
    </span></button>
  <video muted loop>
    <source src="https://www.sfu.ca/~kkl64/caseit-video-2021/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <script>
    var vid = document.querySelector("video");
    var btnUnmute = document.querySelector("#btnUnmute");
    vid.onclick = toggleMute;
    btnUnmute.onclick = toggleMute;

    function toggleMute() {
      vid.muted = !vid.muted;
      btnUnmute.innerHTML = (vid.muted) ? '<span class="material-icons">volume_off</span >' : '<span class="material-icons">volume_up</span >';
    }

    var autoplayObserver = new IntersectionObserver(function (entries, observer) {
      if (entries[0].isIntersecting) {
        // auto play the vid when it get into the viewport
        vid.play();
      } else {
        vid.pause();
      }
    }, {
      threshold: .3
    });
    autoplayObserver.observe(vid);
  </script>
</section>
<section id="learn-more" class="full-width grid-2-cols">
  <div class="grid-2-cols__blurb-left">
    <h2>{{.Params.learn_more.heading}}</h2>
    <p>
      {{.Params.learn_more.text}}
    </p>
    <div class="form-controls">
      <a href="/competition/information/" class="button-primary">See Full Information</a>
    </div>
  </div>
  <div class="grid-2-cols__blurb-right">
    {{/*  <div class="card-layout-container--list">
      $.Site.Section
      {{ range where $.Site.Section.competition "type" "competition-information" }}
    <a href="{{.Permalink}}" class="image-card">
      <img src="{{.Params.image}}" alt="placeholder">
      <div class="image-card__content">
        <h4>{{.Title}}</h4>
        <p>{{.Params.description}}</p>
      </div>
    </a>
    {{ end }}
  </div> */}}
  </div>
</section>

{{ partial "get-package-cta-university.html" . }}

{{ end }}