/*
 * 
 * Information Page spaceific style
 * 
 */

.timeline-container {
  --dot-size: 1rem;
  --line-length: 10rem;
  --line-width: 2px;

  --inactive-opacity: 0.4;

  --color-text: var(--color-primary-darkest);
  --color-background: var(--color-primary-lighter);
  --color-dot-accent: var(--color-accent);

  display: flex;
  flex-direction: column;

  // create vertical spacing between elements
  margin-bottom: 4rem;

  padding: 4rem 4rem;

  // give the section a background colour
  background-color: var(--color-background);
  color: var(--color-text);

  // min-width: 30rem;
}

.timeline-item {
  display: flex;
  flex-direction: row;
}

.timeline-anchor {
  // create an pivot point of the description text
  position: absolute;

  // make the inactive part semi transparent
  opacity: var(--inactive-opacity);
  background-color: var(--color-text);

  // construct the dot
  width: var(--dot-size);
  height: var(--dot-size);

  border-radius: 50%;
}

.timeline-anchor--active {
  opacity: 1 !important;
  background-color: var(--color-dot-accent) !important;
}

.timeline-description {
  margin-left: 2rem;
  // offset the to top margin to match the dot position
  margin-top: -0.5rem;

  // left: 2rem;
  // top: -0.5rem;

  // adjust the spacing between elements in a block
  .h4 {
    margin-bottom: 0rem;
  }
  p {
    margin-top: 0rem;
  }

  opacity: var(--inactive-opacity);
}

.timeline-description--active {
  opacity: 1 !important;
}

.timeline-connector {
  // make some space between connector dot and the line
  margin-top: 24px;
  margin-bottom: 8px;

  // center align the connector
  margin-left: calc(var(--dot-size) / 2 - var(--line-width) / 2);
  // margin-right: auto;

  // make the inactive part semi transparent
  opacity: 0.1;
  height: var(--line-length);
  width: var(--line-width);
  background-color: var(--color-text);
}
