/*
 * page specific styling on the /hiring page
 */

@import "../breakpoints";

//  for the grey backdrop effect
.positions-wrapper {
  // padding: 2rem 0rem;
  // background-color: var(--color-primary-lighter);
}

.position-container {
  --spacing-vertical: 1.5rem;
  --spacing-horizontal: 1.5rem;
  --margin-vertical: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: var(--margin-vertical);
  margin-bottom: var(--margin-vertical);

  // padding: var(--spacing-vertical);

  background-color: var(--color-primary-lighter);
}

.position {
  // max-width: 27rem;
  border-left: 4px solid var(--color-accent);

  margin: var(--spacing-vertical) var(--spacing-horizontal);
  padding: 1.5rem;

  &__title {
    margin-bottom: 1rem;
  }
  &__description {
    margin-bottom: 2rem;
    max-width: 25rem;
  }

  &__available {
    font-style: italic;
  }
}
