/* 
 *
 * Page specific styling
 * sponsorship opportunities page under sponsorship section
 * 
 */

.sponsorship-type-image {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;

  margin-top: 2rem;
  margin-bottom: 2rem;
}
