{{ define "main" }}
<header class="header-module full-width">
  {{ partial "breadcrumbs.html" . }}
  <h1>About</h1>

  <p class="lead">
    CaseIT brings together top undergraduate business students, distinguished faculty members, experienced industry
    professionals, and a dedicated student-run organizing committee to challenge conventional thinking and build global
    connections.
  </p>
</header>

<main>
  <div class="card-layout-container full-width content-block">
    <a href="#" class="image-card">
      <div class="image-card__content">
        <h2 class="h4">Chair's Welcoming</h2>
        <p>Our competition executive team could answer you about questions CaseIT 2021</p>
      </div>
      <img src="img/about-chair.jpg" alt="Chair 2021, Jordan Wong">
    </a>
    <a href="#" class="image-card">
      <div class="image-card__content">
        <h2 class="h4">CaseIT History</h2>
        <p>Our competition executive team could answer you about questions CaseIT 2021</p>
      </div>
      <img src="img/about-history.jpg" alt="caseit history">
    </a>
    <a href="#" class="image-card">
      <div class="image-card__content">
        <h2 class="h4">Team 2021</h2>
        <p>Our competition executive team could answer you about questions CaseIT 2021</p>
      </div>
      <img src="img/about-caseit-team.jpg" alt="caseit team 2021">
    </a>
  </div>
</main>

{{ end }}