{{ define "main" }}

<div class="full-width--article">
  <section class="content-block">
    <h1 class="display">
      {{ .Title }}
    </h1>
    <h2 class="h4">Showcase of the CaseIT web style</h2>
  </section>
  <section class="content-block">
    <h1 class="display">
      Headline Display
    </h1>
    <div class="caption">DINPro Bold 96</div>

    <h1>
      Headline 1
    </h1>
    <div class="caption">DINPro Bold 64</div>

    <h2>
      Headline 2
    </h2>
    <div class="caption">DINPro Bold 48</div>

    <h3>
      Headline 3
    </h3>
    <div class="caption">DINPro Bold 34</div>

    <h4>
      Headline 4
    </h4>
    <div class="caption">DINPro Bold 20, Uppercase</div>

    <p class="lead">
      Lead - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat
      ea dolore. Ullamco cupidatat amet proident quis pariatur nulla ex officia fugiat reprehenderit eiusmod. Esse
      pariatu
    </p>
    <div class="caption">DINPro Regular 20</div>

    <p>
      Body - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat
      ea dolore. Ullamco cupidatat amet proident quis pariatur nulla ex officia fugiat reprehenderit eiusmod. Esse
      pariatur
      reprehenderit culpa magna. Sint occaecat sint occaecat irure magna Lorem occaecat occaecat culpa tempor sit quis.
      Labore laboris id cillum exercitation velit cillum aliqua mollit voluptate dolor amet aliquip. Cupidatat mollit
      laborum dolor aliqua ea excepteur minim pariatur mollit. Exercitation anim incididunt in aliqua occaecat deserunt.
    </p>
    <div class="caption">Roboto Regular 16</div>

    <p class="body--small">
      Body(small) - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat ea dolore.
    </p>
    <div class="caption">Roboto Regular 14</div>

    <img src="https://source.unsplash.com/random/800x600" alt="Testing Images">
    <p class="caption">
      Caption - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat ea dolore.
    </p>

  </section>

  <section class="content-block">
    <h1>Testing header</h1>
    <h2 class="h4">header 2 with h4 styling</h2>
    <p>
      Body - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat
      ea dolore. Ullamco cupidatat amet proident quis pariatur nulla ex officia fugiat reprehenderit eiusmod. Esse
      pariatur
      reprehenderit culpa magna. Sint occaecat sint occaecat irure magna Lorem occaecat occaecat culpa tempor sit quis.
      Labore laboris id cillum exercitation velit cillum aliqua mollit voluptate dolor amet aliquip. Cupidatat mollit
      laborum dolor aliqua ea excepteur minim pariatur mollit. Exercitation anim incididunt in aliqua occaecat deserunt.
    </p>


    <p>
      Body - Incididunt mollit quis tempor sunt id aliquip nisi ipsum fugiat.Esse fugiat velit minim non commodo
      consequat
      ea dolore. Ullamco cupidatat amet proident quis pariatur nulla ex officia fugiat reprehenderit eiusmod. Esse
      pariatur
      reprehenderit culpa magna. Sint occaecat sint occaecat irure magna Lorem occaecat occaecat culpa tempor sit quis.
      Labore laboris id cillum exercitation velit cillum aliqua mollit voluptate dolor amet aliquip. Cupidatat mollit
      laborum dolor aliqua ea excepteur minim pariatur mollit. Exercitation anim incididunt in aliqua occaecat deserunt.
    </p>
    <p>
      This is a in text <a href="#">Link</a>
    </p>
    <p class="caption">
      Examples of typographic elements on website
    </p>
  </section>


  <section class="content-block">
    <h2>Interactive Element</h2>
    <button class="button-primary">Button Primary</button>
    <button class="button-secondary">Button Secondary</button>

    <p class="caption">
      Examples of interactive elements
    </p>
  </section>

  <section class="content-block">
    <h2>Colour Scheme</h2>
    <p>Click to copy color code</p>

    <h3 class="h4">Primary</h3>
    <div class="color-swatch-container">
      <div class="color-swatch" style="background-color: #FFFFFF; color:#000000">#FFFFFF</div>
      <div class="color-swatch" style="background-color: #393636;">#393636</div>
      <div class="color-swatch" style="background-color: #252222;">#252222</div>
      <div class="color-swatch" style="background-color: #000000;">#000000</div>
    </div>

    <h3 class="h4">Accent</h3>
    <div class="color-swatch-container">
      <div class="color-swatch" style="background-color: #C43434;">#C43434</div>
      <div class="color-swatch" style="background-color: #81222E;">#81222E</div>
      <div class="color-swatch" style="background-color: #721F2A;">#721F2A</div>
    </div>
  </section>

  <script type="text/javascript">
    document.querySelectorAll(".color-swatch").forEach((elm) => {
      elm.addEventListener('click', (e) => {
        let copyText = document.createElement('input');
        copyText.type = "input";
        document.body.append(copyText);

        copyText.value = e.target.innerHTML;
        copyText.select();
        document.execCommand("copy");
        copyText.remove();
      });
    })
  </script>
</div>


{{ end }}