{{ define "main" }}

<!-- hero section -->
<header class="hero">
  <div class="hero__blurb full-width">
    <h1 class="display">{{ .Title }}</h1>
    <p class="h4 h4--accented">{{ .Params.subtitle }}</p>
    <span class="material-icons">
      arrow_downward
    </span>
  </div>
</header>

<main>
  <div class="content-block">
    <section class="grid-2-cols full-width pitch">
      <div class="grid-2-cols__image-left">
        <img class="image--bleed-left" src="{{.Params.pitch1.imageUrl}}" />
      </div>
      <div class="grid-2-cols__blurb-right blurb--valign-center" data-aos="fade-up">
        <div class="overline">What is CaseIT</div>
        <h2>{{.Params.pitch1.heading}}</h2>
        <p>{{.Params.pitch1.text}}</p>
        <div class="form-controls">
          <a href="#" class="button-primary">{{ .Params.pitch1.ctaText}}</a>
        </div>
      </div>
    </section>
  </div>

  <section class="grid-2-cols full-width content-block pitch">
    <div class="grid-2-cols__blurb-left blurb--valign-center" data-aos="fade-up">
      <div class="overline">What is CaseIT</div>
      <h2>{{.Params.pitch2.heading}}</h2>
      <p>{{.Params.pitch2.text}}</p>
      <div class="form-controls">
        <a href="#" class="button-primary">{{ .Params.pitch2.ctaText}}</a>
      </div>
    </div>
    <div class="grid-2-cols__image-right">
      <img class="image--bleed-right" src="{{.Params.pitch2.imageUrl}}" />
    </div>
  </section>

  <section id="caseitGoingOnline" class="content-block">
    <div class="center-text" data-aos="fade-up">
      <div class="overline">CaseIT 2021</div>
      <h2>{{.Params.caseitGoingOnline.heading}}</h2>
      <p>{{.Params.caseitGoingOnline.text}}</p>
      <div class="form-controls">
        <a href="#" class="button-primary button-primary--inverted">{{ .Params.caseitGoingOnline.ctaText}}</a>
      </div>
    </div>

    <div class="center-graphic-container">
      <img src="img/globe-line-art.svg" alt="Globe line art" />
      <div class="center-graphic-container__gradient"></div>
    </div>

    <div class="grid-3-cols full-width going-online-info">
      {{ range .Params.caseitGoingOnline.resources }}
      <a class="info-card" href="#" data-aos="fade-up">
        <h3 class="h4 h4--accented">{{ .heading}}</h3>
        <p>{{ .text}}</p>
      </a>
      {{ end }}
    </div>
  </section>

  <section id="caseit2020">
    <div class="center-text" data-aos="fade-up">
      <div class="overline">Previous Year Recap</div>
      <h2>{{.Params.caseit2020.heading}}</h2>
      <p>{{.Params.caseit2020.text}}</p>
    </div>
    {{ partial "photo-grid" . }}
  </section>

  <section id="sponsors" class="content-block grid-2-cols full-width">
    <div class="grid-2-cols__blurb-left" data-aos="fade-up">
      <div class="overline">Support CaseIT</div>
      <h2>{{.Params.sponsors.heading}}</h2>
      <p>{{.Params.sponsors.text}}</p>
      <div class="form-controls">
        <a href="#" class="button-primary">{{ .Params.sponsors.ctaText}}</a>
      </div>
    </div>
    <div class="grid-2-cols__image-right">
      <img class="image--bleed-left" src="{{.Params.sponsors.imageUrl}}" />
    </div>
  </section>

  <section id="endingCtaBlock" class="content-block grid-2-cols full-width" data-aos="fade-up">
    <div class="grid-2-cols__image-left">
      <img class="image--bleed-left endingCtaImage" src="{{.Params.endingCtaBlock.imageUrl}}" />
    </div>
    <div class="grid-2-cols__blurb-right blurb--valign-center endingCtaBlurb">
      <div class="overline">Join CaseIT 2021</div>
      <h2>{{.Params.endingCtaBlock.heading}}</h2>
      <p>{{.Params.endingCtaBlock.text}}</p>
      <div class="form-controls">
        <a href="#" class="button-primary button-primary--inverted">
          {{ .Params.endingCtaBlock.ctaTextStudent}}
        </a>
        <a href="#" class="button-secondary button-secondary--inverted">
          {{ .Params.endingCtaBlock.ctaTextCoach}}
        </a>
      </div>
    </div>
  </section>
</main>

{{ end }}