{{ define "main" }}

<!-- {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }} -->

<div class="center-container">
  <div class="pulsing-caseit-dot"></div>
  <p>
    Coming Soon
  </p>

  <div class="social-container">
    <a target="blank" href="https://www.facebook.com/CaseIT" alt="visit caseit facebook page">
      <img src="img/connect-facebook.svg" alt="facebook icon"></a>

    <a target="blank" href="https://www.instagram.com/caseitsfu/" alt="visit caseit instagram page">
      <img src="img/connect-instagram.svg" alt="instagram icon"></a>

    <a target="blank" href="https://www.linkedin.com/company/caseit-mis-case-competition/"
      alt="visit caseit linkedin page">
      <img src="img/connect-linkedin.svg" alt="instagram icon">
    </a>
  </div>
</div>
</div>

{{ end }}