@import "../variables";
@import "../layout";
@import "../typography";

:root {
  --card-spacing-vertical: 2rem;
  --card-spacing-horizontal: 2rem;
}

// =================================
//
// Utili
//
// =================================
.card-layout-reset {
  & > * {
    margin-top: 0rem;
    margin-bottom: var(--card-spacing-vertical);
  }

  & > .h4,
  & > h4 {
    // tighten the line height for the heading
    line-height: 1em;
  }

  & > *:last-child {
    // remove the bottom margin at the last child
    margin-bottom: 0rem;
  }

  &__cta {
    margin-top: auto;
  }
}

// =================================
//
// Simple white card layout
//
// =================================

.card {
  @extend .card-layout-reset;

  display: flex;
  flex-direction: column;

  background-color: var(--color-primary-lightest);
  box-shadow: var(--drop-shadow-light);
  padding: var(--card-spacing-vertical) var(--card-spacing-horizontal);
}

a.card {
  // if the whole card is a link
  h4,
  .h4 {
    transition: color 200ms ease-out;
  }

  &:hover {
    h4,
    .h4 {
      color: var(--color-primary-lightest) !important;
    }
  }
}

// =================================
//
// Card layout with image background
//
// =================================

.image-card {
  --accent-bar-initial-width: 0.1;
  --accent-bar-height: 6px;

  display: block;
  padding: 0rem;

  // setup a context for absolute position
  position: relative;

  // reset the link
  @extend .link-reset;

  background: none;
  border: 0;
  box-sizing: border-box;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    z-index: 1; // make the img element hide below the text

    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  // ======================
  //
  // content inside the card
  //
  // ======================

  &__content {
    @extend .card-layout-reset;

    transform: scale(1);
    z-index: 10; // make the content go in front of the image

    // overlay the text in front of the image
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    padding: 3rem var(--card-spacing-horizontal);

    & > * {
      margin-bottom: 1.2rem;
    }

    color: var(--color-primary-lightest);

    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.7) 100%
    );

    // the CASEIT border animation

    &::before {
      // basic border animation setup
      box-sizing: inherit;
      content: "";
      position: absolute;

      transition-property: width, transform;
      transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      transition-duration: 300ms;
    }

    // initil state of the border
    &::before {
      border-top: var(--accent-bar-height) solid var(--color-accent);
      top: 0rem;
      transform-origin: top left;
      transform: scaleX(var(--accent-bar-initial-width)) translateX(0);
      width: 100%;

      transition-delay: 100ms;
    }

    // Hover styles
    &:hover::before {
      // width: 100%;

      // offset the border so it stick to the left side of the card
      transform: scaleX(1) translateX(calc(-1 * var(--card-spacing-horizontal)));
    }

    &:hover::before {
      border-top-color: var(--color-accent); // Make borders visible
    }
  }
}

.image-card--large {
  grid-row: span 2;
}

// =================================
//
// Card but clickable
//
// =================================

.card-clickable {
  @extend .card;
}
