/*
 *
 * Main Site Navigation Module
 * 
 * Dependency:
 * _variables.scss
 * breakpoints.scss
 * 
 */

@import "../_breakpoints.scss";

// Breakpoints
$nav-breakpoint: 875px;

// Variables
:root {
  --hor-spacing: 3rem;
  --vert-spacing: 2rem;
}

// Wrapper that encapsulate the whole navigation module
nav {
  // create some space between nav bar top and bottom
  padding: 1.5rem 0rem;

  background-color: var(--color-primary-lightest);

  // elegant transition
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  transform: translateY(0rem);

  /* stay on top of the page */
  z-index: 1000;
}

nav.scrolled {
  // apply these value after the page is no longer on top
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
}

nav.hidden {
  transform: translateY(-100%);
}

// the container elements for links on the navigation bar
.nav-bar {
  display: flex;
  flex-direction: row;
  // make everything align to the axis horizontally
  align-items: center;

  // make the links flow to the next link on mobile,
  // without the nav links will fight with the space of the hamburger menu
  flex-wrap: wrap;

  // hide the website link by default on mobile site
  &__link-container--expanded {
    transform: translateX(0%) !important;
  }

  // the nav link container hidden by default
  &__link-container {
    position: fixed;
    right: 0rem;
    top: 0rem;

    height: 100vh;
    width: 70vw;
    padding: 20vh 20vw;

    transform: translateX(100%);
    transform-origin: top right;

    background-color: var(--color-primary-lightest);
    box-shadow: var(--drop-shadow-light);

    order: 3;
    z-index: 10000;

    // animation
    transition: transform 700ms cubic-bezier(0.16, 1, 0.3, 1); //ease out expo
    will-change: transform;
  }

  @include viewportLargerThan($nav-breakpoint) {
    &__link-container {
      // rest the link menu on desktop
      position: unset;
      padding: unset;
      width: unset;
      height: unset;
      transform: none;
      box-shadow: none;

      display: flex;
      flex-direction: row;
      align-items: center;

      // fill the space in the rest of the nav bar
      flex: 1;
    }
  }
}

// ==================================
//
// Logo Styling
//
// ==================================

a.nav-bar__logo-link {
  display: block;
  margin-right: var(--hor-spacing);

  // reset the default link hover effect established in _typography.css
  background: none;

  // hte image element of the nav link
  img {
    max-height: 2em;
    max-width: none;
  }
}

// ==================================
//
// Link Styling
//
// ==================================

ul.nav-link-list {
  list-style: none;
  display: flex;

  // vertical link stack on mobile, horizontal on desktop
  flex-direction: column;
  @include viewportLargerThan($nav-breakpoint) {
    flex-direction: row;
  }

  li {
    margin-bottom: var(--vert-spacing);
    @include viewportLargerThan($nav-breakpoint) {
      // give it some space on the right side when stack horizontaly
      margin-right: var(--hor-spacing);
      margin-bottom: unset;
    }

    // vertically align the link text
    display: flex;
    align-items: center;
  }
}

a.nav-link-list__link,
a.contact-button {
  // reset the default link hover effect established in _typography.css
  background: none;
  // font-size: 20px;

  &:hover,
  &:focus {
    color: var(--color-primary-darkest);
  }

  // override the original colour
  &:active {
    color: var(--color-primary-dark);
  }
}

a.contact-button {
  display: block;
  // make the button align to the right side of the screen
  margin-left: auto;
}

// ==================================
//
// Hamburger Menu
//
// ==================================
.hamburger-menu-toggle {
  // make it stick to the right side
  margin-left: auto;

  // remove the default link style
  background: none;

  width: 2em;
  height: 2em;

  display: block;

  &:hover {
    cursor: pointer;
  }

  &::after {
    border: none;
  }

  div {
    display: block;

    width: 100%;
    height: 0.15em;

    padding: 0em;
    margin-bottom: 0.6em;

    background-color: var(--color-primary-darkest);

    transition-property: opacity, transform;
    will-change: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  // forever on top
  z-index: 1000000000;
}

.hamburger-menu-toggle--cross {
  div:nth-child(2) {
    transform: rotateZ(-45deg);
    opacity: 0;
  }

  div:nth-child(1) {
    transform: translate(0em, 0.75em) rotateZ(-45deg);
  }

  div:nth-child(3) {
    transform: translate(0em, -0.75em) rotateZ(45deg);
  }
}

// for responsive layout
.hamburger-menu-toggle {
  display: block;

  @include viewportLargerThan($nav-breakpoint) {
    display: none;
  }
}
