/*
 *
 * Main Site Navigation Module
 * 
 * Dependency:
 * _variables.scss
 * breakpoints.scss
 * 
 */

@import "../_breakpoints.scss";
@import "../buttons";

// Breakpoints
$nav-breakpoint: 875px;

// Variables
:root {
  --hor-spacing: 3rem;
  --vert-spacing: 2rem;
}

// for controlling whether light logo or the dark logo is shown depending context

@mixin logo-dark-mode {
  .logo-mode--dark {
    display: block;
  }
  .logo-mode--light {
    display: none;
  }
}

@mixin logo-light-mode {
  .logo-mode--dark {
    display: none;
  }
  .logo-mode--light {
    display: block;
  }
}

// Wrapper that encapsulate the whole navigation module
.main-nav {
  // create some space between nav bar top and bottom
  padding: 1.5rem 0rem;

  // elegant transition
  transition-property: transform, color, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  transform: translateY(0rem);

  /* stay on top of the page */
  z-index: 1000;

  --link-color: var(--color-primary-light);
  --link-color-hover: var(--color-primary-darkest);
  --link-color-active: var(--color-primary-dark);
  // for cta button
  --button-color: var(--color-primary-darkest);
  --button-text-color: var(--color-primary-lightest);

  @include logo-light-mode();
}

.main-nav--dark {
  // dark mode color configuration
  --link-color: var(--color-primary-light);
  --link-color-hover: var(--color-primary-lightest);
  --link-color-active: var(--color-primary-lightest);
  // for cta button
  --button-color: var(--color-primary-lightest);
  --button-text-color: var(--color-primary-darkest);
  @include logo-dark-mode();
}

.light-mode-color {
  // light mode color configuration for the navigation bar
  --link-color: var(--color-primary-light);
  --link-color-hover: var(--color-primary-darkest);
  --link-color-active: var(--color-primary-dark);

  // for cta button
  --button-color: var(--color-primary-darkest);
  --button-text-color: var(--color-primary-lightest);
  @include logo-light-mode();
}

nav.main-nav--scrolled {
  // apply these value after the page is no longer on top
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  will-change: box-shadow;

  // only apply background color when the page is scrolled
  background-color: var(--color-primary-lightest);

  // make reset everything in light mode after scroll
  @extend .light-mode-color;
}

nav.hidden {
  transform: translateY(-100%);
}

// the container elements for links on the navigation bar
.nav-bar {
  display: flex;
  flex-direction: row;
  // make everything align to the axis horizontally
  align-items: center;

  // make the links flow to the next link on mobile,
  // without the nav links will fight with the space of the hamburger menu
  flex-wrap: wrap;

  // hide the website link by default on mobile site
  &__link-container--expanded {
    transform: translateX(0%) !important;

    // make reset everything in light mode after container is expanded
    @extend .light-mode-color;
  }

  // the nav link container hidden by default
  &__link-container {
    position: fixed;
    right: 0rem;
    top: 0rem;

    height: 100vh;
    width: 70vw;
    padding: 20vh 20vw;

    transform: translateX(100%);
    transform-origin: top right;

    background-color: var(--color-primary-lightest);
    box-shadow: var(--drop-shadow-light);

    order: 3;
    z-index: 10000;

    // animation
    transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1); //ease out expo
    will-change: transform;
  }

  @include viewportLargerThan($nav-breakpoint) {
    &__link-container {
      // rest the link menu on desktop
      position: unset;
      padding: unset;
      width: unset;
      height: unset;
      transform: none;
      box-shadow: none;

      display: flex;
      flex-direction: row;
      align-items: center;

      background-color: transparent;

      // fill the space in the rest of the nav bar
      flex: 1;
    }
  }
}

// ==================================
//
// Logo Styling
//
// ==================================

a.nav-bar__logo-link {
  display: block;
  margin-right: var(--hor-spacing);

  // reset the default link hover effect established in _typography.css
  background: none;

  // hte image element of the nav link
  img {
    max-height: 2em;
    max-width: none;
  }
}

// ==================================
//
// Link Styling
//
// ==================================

ul.nav-link-list {
  list-style: none;
  display: flex;

  // vertical link stack on mobile, horizontal on desktop
  flex-direction: column;
  @include viewportLargerThan($nav-breakpoint) {
    flex-direction: row;
  }

  li {
    margin-bottom: var(--vert-spacing);
    @include viewportLargerThan($nav-breakpoint) {
      // give it some space on the right side when stack horizontaly
      margin-right: var(--hor-spacing);
      margin-bottom: unset;
    }

    // vertically align the link text
    display: flex;
    align-items: center;
  }
}

a.nav-link-list__link {
  // reset the default link hover effect established in _typography.css
  background: none;
  font-size: 1.2rem;
  margin-bottom: 2rem;

  @include viewportLargerThan($nav-breakpoint) {
    font-size: unset;
    margin-bottom: unset;
  }

  color: var(--link-color);

  &:hover,
  &:focus {
    color: var(--link-color-hover);
  }

  // override the original colour
  &:active {
    color: var(--link-color-active);
  }

  // when the user is inside this section
  &--active {
    color: var(--link-color-hover);
  }
}

a.nav-cta-button {
  @extend .button-secondary;

  display: block;
  // make the button align to the right side of the screen
  margin-left: auto;

  // set the color reactive to light mode vs dark mode
  border-color: var(--button-color) !important;
  color: var(--button-color) !important;
}

// ==================================
//
// Hamburger Menu
//
// ==================================
.hamburger-menu-toggle {
  // make it stick to the right side
  margin-left: auto;

  // remove the default link style
  background: none;

  width: 2em;
  height: 2em;

  display: block;

  &:hover {
    cursor: pointer;
  }

  &::after {
    border: none;
  }

  div {
    display: block;

    width: 100%;
    height: 0.15em;

    padding: 0em;
    margin-bottom: 0.6em;

    background-color: var(--link-color);

    transition-property: opacity, transform;
    will-change: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  // forever on top
  z-index: 1000000000;
}

.hamburger-menu-toggle--cross {
  div:nth-child(2) {
    transform: rotateZ(-45deg);
    opacity: 0;
  }

  div:nth-child(1) {
    transform: translate(0em, 0.75em) rotateZ(-45deg);
  }

  div:nth-child(3) {
    transform: translate(0em, -0.75em) rotateZ(45deg);
  }
}

// for responsive layout
.hamburger-menu-toggle {
  display: block;

  @include viewportLargerThan($nav-breakpoint) {
    display: none;
  }
}
