/*
 *
 * Display module used in organizing committee page
 * 
 */

.team-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 20rem;

  padding: 0rem;

  background-color: #f2f2f2;
  color: var(--color-accent);

  // distance between the team title the content
  margin-top: 4rem;

  border-left: 4px solid var(--color-accent);
}
.team-display-item {
  margin-top: 2rem;
  margin-left: 4rem;

  &__name {
    margin-bottom: 0.5rem;
  }
  &__position {
    margin-bottom: 1rem;
  }
}
