/*
 *
 * Display module used in organizing committee page
 * 
 */

@import "../breakpoints";

// Including the team heading
.team-display-wrapper {
  margin-bottom: 4rem;
}

.team-display-container {
  --spacing-horizontal: 4rem;
  --spacing-vertical: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;

  padding: 0rem;

  color: var(--color-accent);

  // distance between the team title the content
  margin-top: var(--spacing-vertical);

  border-left: 4px solid var(--color-accent);
}
.team-display-item {
  padding-top: var(--spacing-vertical);
  padding-left: var(--spacing-horizontal);
  padding-right: var(--spacing-horizontal);

  background-color: #f2f2f2;

  // stretch the portrait if the "position text" is wrapping to another line
  display: flex;
  flex-direction: column;
  img {
    flex: 1 1 auto;
    align-self: center;
    object-fit: cover;
    // shrink the image to give the layout more white space
    max-width: 80%;
  }

  // optically constraint an item in the grid if it's the only item
  @include viewportLargerThan($breakpoint-l) {
    max-width: calc(16rem + 4.5rem * 2);
  }

  &__name {
    margin-bottom: 0.2rem !important;
  }
  &__position {
    margin-bottom: 0rem !important;
  }
}
