{{ define "main" }}
<header class="header-module full-width">
  {{/*  {{ partial "breadcrumbs.html" . }} */}}
  <h1>{{.Params.title}}</h1>

</header>

<main>
  <div class="full-width">
    <img class="banner-image" src="{{.Params.image}}" alt="cover photo">
  </div>
  <section class="content-block content-block--related grid-2-cols full-width">
    <div class="grid-2-cols__content-area">
      {{.Content}}
    </div>
  </section>


  <section id="up-next" class="content-block grid-2-cols full-width">

    <div class="grid-2-cols__heading">
      <h2>Up Next</h2>
    </div>

    <div class="grid-2-cols__content-area">
      <div class="card-layout-container">
        {{/*  When there is "next page" in the section  */}}
        {{ if .NextInSection }}
        {{ with .NextInSection }}
        <a href="{{.Permalink}}" class="image-card">
          <div class="image-card__content">
            <h2 class="h4">{{.Title}}</h2>
            <p>{{.Description}}</p>
          </div>
          <img src="{{.Params.image}}" alt="Go to {{.Title}}">
        </a>
        {{ end }}
        {{/*  When this is the last page  */}}
        {{else}}
        {{ with .Site.GetPage "/about/organizing-committee.md"}}
        <a href="{{.Permalink}}" class="image-card">
          <div class="image-card__content">
            <h2 class="h4">{{.Title}}</h2>
            <p>{{.Description}}</p>
          </div>
          <img src="{{.Params.image}}" alt="Go to {{.Title}}">
        </a>
        {{ end }}
        {{end}}

      </div>
    </div>
  </section>
</main>

{{ end }}